<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Account</title>
    </head>
    <body>
        <form action="/submit-form" method="POST">
            <!-- First Name -->
            <label for="reservation-name">Name:</label>
            <input type="text" id="reservation-name" name="reservation_name" required>
            <br><br>

            <label for="reservation-date">Reservation Date:</label>
            <input type="date" id="reservation-date" name="reservation-date" required>
            <br><br>
    
            <label for="reservation-time">Reservation Time:</label>
            <input type="time" id="reservation-time" name="reservation-time" required>
            <br><br>
            
    
            <!-- Submit Button -->
            <button type="submit">Submit Reservation</button>
        </form>
    </body>
</html>